- name: Bajar proceso TSO REPO
  become: yes
  become_method: sudo
  shell: /usr/bin/sh /bmc/TSO/REPO/bin/server.sh stop

- name: Validar hasta que TSO REPO baje totalmente
  shell: ps -fea | grep -v grep | grep -w "/bmc/TSO/CDP/jvm/bin/java" | wc -l
  register: statustso
  until: statustso.stdout == "0"
  retries: 10
  delay: 60

- name: Bajar proceso TSO CDP
  become: yes
  become_method: sudo
  shell: /usr/bin/sh /bmc/TSO/CDP/bin/server.sh stop

- name: Validar hasta que TSO CDP baje totalmente
  shell: ps -fea | grep -v grep | egrep -w "/bmc/TSO/CDP/jvm/bin/java|/bmc/TSO/CDP/cassandra/bin" | wc -l
  register: statustso
  until: statustso.stdout == "0"
  retries: 10
  delay: 60

- name: Vaidar proceso TSO REPO
  become: yes
  become_method: sudo
  shell: /usr/bin/sh /bmc/TSO/REPO/bin/server.sh status
  register: statusrepo

- name: Validar proceso TSO CDP
  become: yes
  become_method: sudo
  shell: /usr/bin/sh /bmc/TSO/CDP/bin/server.sh status
  register: statuscdp

- name: Resultado de la baja del proceso TSO REPO
  debug:
    msg:
       - "{{ statusrepo.stdout }}"

- name: Resultado de la baja del proceso TSO CDP
  debug:
    msg:
       - "{{ statuscdp.stdout }}"
